<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="cordova-plugin-ad-adbuddiz"
      version="1.0.44">
	  
    <name>Cordova AdBuddiz plugin</name>
    <description>Show adbuddiz interstitial ad and rewarded video ad.</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,adbuddiz,monetisation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-adbuddiz</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-adbuddiz/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>	
		
    <js-module src="www/adbuddiz.js" name="adbuddiz">
        <clobbers target="window.adbuddiz" />
    </js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AdBuddizPlugin">
				<param name="android-package" value="com.cranberrygame.cordova.plugin.ad.adbuddiz.AdBuddizPlugin"/>
			</feature>
		</config-file>
		
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />		
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity" 
					   android:theme="@android:style/Theme.Translucent" />
        </config-file>
		
		<source-file src="src/android/AdBuddizPlugin.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/adbuddiz" />
		
	    <source-file src="src/android/AdBuddiz-3.1.3.jar" target-dir="libs" />	
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="AdBuddizPlugin">
			<param name="ios-package" value="AdBuddizPlugin" />
			<param name="onload" value="true" />
			</feature>
		</config-file>
		
		<header-file src="src/ios/AdBuddizPlugin.h" />
		<source-file src="src/ios/AdBuddizPlugin.m" />
		
		<framework src="AdSupport.framework" />		   
		<framework src="StoreKit.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="src/ios/AdBuddiz.framework" custom="true" />
	</platform>	   
</plugin>